{% extends '../base.html' %}

{% load static %}

{% block title %}Inventaire - Gestion de stock{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'sidebar.css' %}">
<link rel="stylesheet" href="{% static 'inventory/inventory.css' %}">
{% endblock %}

{% block sidebar %}
{% include '../utils/sidebar.html' with active='inventory' %}
{% endblock %}

{% block content %}
<div class="main-content">
    <div class="header">
        <h1>Inventaire</h1>
        <!-- Add this button for Excel export -->
        {% if user.role == 'A' %}
        <a href="{% url 'export_inventory' %}">
            <button class="button print-excel-button">
                <img src="{% static 'excel-logo.png' %}" alt="Excel Logo">
                Exporter vers Excel
            </button>
        </a>
        {% endif %}
        <div class="search-container">
            <input type="text" id="searchInput" placeholder="Rechercher un produit...">
            <button class="button primary" id="searchButton">Recherche</button>
        </div>
    </div>

    <!-- Tabs -->
    <div class="tabs">
        <button class="tab-button active" data-tab="all">Tous</button>
        {% if user.role == 'A' %}
        <button class="tab-button" data-tab="sold">Produits Vendus</button>
        {% endif %}
        <button class="tab-button" data-tab="received">Produits Reçus</button>
    </div>

    <!-- Inventory Tables -->
    <div class="tab-content active" id="all">
        <div class="inventory-table">
            <table>
                <thead>
                    <tr>
                        <th>Nom Produit</th>
                        <th>Marque</th>
                        <th>Categorie</th>
                        <th>Quantite en stock</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for product in products %}
                    <tr class="product-row {% if product.quantity < product.min_stock %}alert-row{% endif %}"
                        data-product='{"name":"{{ product.name }}","brand":"{{ product.get_brand_display }}","category":"{{ product.get_category_display }}","quantity":{{ product.quantity }},"image":"{{ product.image.url }}"}'>
                        <td>{{ product.name }}</td>
                        <td>{{ product.get_brand_display }}</td>
                        <td>{{ product.get_category_display }}</td>
                        <td>{{ product.quantity }}</td>
                        <td>
                            <button class="button success add-quantity" stock-add-url="{% url 'stock_update' product.id %}?supplied=true">Ajouter</button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    {% if user.role == 'A' %}
    <div class="tab-content" id="sold">
        <div class="inventory-table">
            <table>
                <thead>
                    <tr>
                        <th>Nom Produit</th>
                        <th>Marque</th>
                        <th>Categorie</th>
                        <th>Quantite Vendue</th>
                        <th>Prix de vente</th>
                        <th>Prix totale</th>
                        <th>Par</th>
                    </tr>
                </thead>
                <tbody>
                    {% for sale in sales %}
                    <tr class="product-row">
                        <td>{{ sale.product.name }}</td>
                        <td>{{ sale.product.get_brand_display }}</td>
                        <td>{{ sale.product.get_category_display }}</td>
                        <td>{{ sale.quantity }}</td>
                        <td>{{ sale.product.unit_selling_price }}</td>
                        <td>{{ sale.total_price }}</td>
                        <td>{{ sale.done_by.name }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% endif %}

    <div class="tab-content" id="received">
        <div class="inventory-table">
            <table>
                <thead>
                    <tr>
                        <th>Nom Produit</th>
                        <th>Marque</th>
                        <th>Categorie</th>
                        <th>Quantite Reçue</th>
                        <th>Date Reçue</th>
                        <th>Enregistre par</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for inventory_record in inventory_records %}
                    <tr class="product-row {% if product.quantity < product.min_stock %}alert-row{% endif %}"
                        data-product='{"name":"{{ inventory_record.product.name }}","brand":"{{ inventory_record.product.get_brand_display }}","category":"{{ inventory_record.product.get_category_display }}","quantity":{{ inventory_record.quantity_recorded }},"image":"{{ inventory_record.product.image.url }}"}'>
                        <td>{{ inventory_record.product.name }}</td>
                        <td>{{ inventory_record.product.get_brand_display }}</td>
                        <td>{{ inventory_record.product.get_category_display }}</td>
                        <td>{{ inventory_record.quantity_recorded }}</td>
                        <td>{{ inventory_record.date }}</td>
                        <td>{{ inventory_record.done_by.name }}</td>
                        <td>
                            <button class="button primary edit-quantity" stock-edit-url="{% url 'stock_update' inventory_record.product.id %}?supplied=false&record_id={{ inventory_record.id }}" {% if user.role == 'M' %}hidden{% endif %}>Edit</button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Add Quantity Modal -->
<div class="modal-overlay" id="addModalOverlay">
    <div class="modal">
        <button class="close-button" id="closeAddModal">&times;</button>
        <h2>Ajouter une quantite en stock</h2>
        <div class="form-image-container">
            <!-- Product Image -->
            <div class="product-image-container">
                <div class="product-image">
                    <img id="addProductImage" src="placeholder.jpg" alt="Product Image">
                </div>
            </div>

            <!-- Form -->
            <form id="addQuantityForm" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label for="addProductName">Nom Produit</label>
                    <input type="text" id="addProductName" readonly>
                </div>
                <div class="form-group">
                    <label for="addBrand">Marque</label>
                    <input type="text" id="addBrand" readonly>
                </div>
                <div class="form-group">
                    <label for="addCategory">Categorie</label>
                    <input type="text" id="addCategory" readonly>
                </div>
                <div class="form-group">
                    <label for="quantitySupplied">Quantite a ajouter</label>
                    <input type="number" id="quantitySupplied" name="quantity" required>
                </div>
                <button type="submit" class="button primary save-button">Sauvegarder</button>
            </form>
        </div>
    </div>
</div>

<!-- Edit Quantity Modal -->
<div class="modal-overlay" id="editModalOverlay">
    <div class="modal">
        <button class="close-button" id="closeEditModal">&times;</button>
        <h2>Modifier le stock</h2>
        <div class="form-image-container">
            <!-- Product Image -->
            <div class="product-image-container">
                <div class="product-image">
                    <img id="editProductImage" src="placeholder.jpg" alt="Product Image">
                </div>
            </div>

            <!-- Form -->
            <form id="editQuantityForm" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label for="editProductName">Nom Produit</label>
                    <input type="text" id="editProductName" readonly>
                </div>
                <div class="form-group">
                    <label for="editBrand">Marque</label>
                    <input type="text" id="editBrand" readonly>
                </div>
                <div class="form-group">
                    <label for="editCategory">Categorie</label>
                    <input type="text" id="editCategory" readonly>
                </div>
                <div class="form-group">
                    <label for="editQuantity">Nouvelle quantite</label>
                    <input type="number" id="editQuantity" name="quantity" required>
                </div>
                <button type="submit" class="button primary save-button">Sauvegarder</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script src="{% static 'inventory/inventory.js' %}"></script>
{% endblock %}