{% extends '../base.html' %}
{% load static %}

{% block title %}Produits - Gestion de stock{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'sidebar.css' %}">
<link rel="stylesheet" href="{% static 'products/productss.css' %}">
{% endblock %}

{% block sidebar %}
{% include '../utils/sidebar.html' with active='products' %}
{% endblock sidebar %}

{% block content %}
<div class="main-content">
    <div class="header">
      <h1>Produits</h1>
      <div class="search-container">
        <input type="text" id="searchInput" placeholder="Rechercher un produit...">
        <button class="button primary" id="searchButton">Rechercher</button>
      </div>
      <button class="button primary" id="addProductButton" {% if user.role == 'M' %}hidden{% endif %}>Ajouter un produit</button>
    </div>

    <!-- Products Grid -->
    <div class="products-grid">
      {% for product in products %}
      <!-- Product Cards -->
      <div class="product-card" data-product='{"name":"{{ product.name }}","brand":"{{ product.brand }}","category":"{{product.category }}","quantity":{{ product.quantity }},"unitBuyPrice":{{ product.unit_buy_price }}, "unitSellingPrice":{{ product.unit_selling_price }}, "image":"{{ product.image.url }}","sid":"{{ product.sid }}","description":"{{ product.description }}", "min_stock": "{{product.min_stock}}" }'>
        <div class="product-image">
          <img src="{{ product.image.url }}" alt="Router">
        </div>
        <div class="product-info">
          <h3>{{ product.name }}</h3>
          <div class="tags">
            <span class="tag category">{{ product.get_category_display }}</span>
            <span class="tag brand">{{ product.get_brand_display }}</span>
          </div>
          <p class="unit-price">{{ product.unit_selling_price }} FCFA</p>
        </div>
        <div class="product-actions">
          <button class="button success edit-product" edit-url="{% url 'edit_product' product.id %}">{% if user.role == 'M' %}Voir{%else%}Voir and Editer{% endif %}</button>
          <button class="button danger delete-product" delete-url="{% url 'delete_product' product.id %}" {% if user.role == 'M' %}hidden{% endif %}>Delete</button>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>

  <!-- Add Product Modal -->
  <div class="modal-overlay" id="addModalOverlay">
    <div class="modal">
      <button class="close-button" id="closeAddModal">&times;</button>
      <h2>Add Product</h2>
      <div class="form-image-container">
        <!-- Form -->
        <form enctype="multipart/form-data" id="addProductForm" method="POST" action="{% url 'add_product' %}">
          {% csrf_token %}
          <div class="form-group">
            <label for="addProductName">Nom produit</label>
            <input type="text" id="addProductName" name="name" required>
          </div>
          <div class="form-group">
            <label for="addBrand">Marque</label>
            <select id="addBrand" name="brand" required>
              {% for brand in brands %}
              <option value="{{ brand.0 }}">{{ brand.1 }}</option>
              {% endfor %}
            </select>
          </div>
          <div class="form-group">
            <label for="addCategory">Categorie</label>
            <select id="addCategory" name="category" required>
              {% for category in categories %}
              <option value="{{ category.0 }}">{{ category.1 }}</option>
              {% endfor %}
            </select>
          </div>
          <div class="form-group">
            <label for="addSid">SID</label>
            <input type="text" id="addSid" name="sid" required>
          </div>
          <div class="form-group">
            <label for="addDescription">Description</label>
            <textarea id="addDescription" name="description" rows="4"></textarea>
          </div>
          <div class="form-group">
            <label for="editUnitPrice">Prix d'achat</label>
            <input type="number" id="addUnitBuyPrice" name="unit_buy_price" required>
          </div>
          <div class="form-group">
            <label for="editUnitPrice">Prix de vente</label>
            <input type="number" id="addUnitSellingPrice" name="unit_selling_price" required>
          </div>
          <div class="form-group">
            <label for="addMinStock">Stock Minimal</label>
            <input type="number" id="addMinStock" name="min_stock" placeholder="par defaut: 10">
          </div>
          <input type="file" id="addUploadImage" accept="image/*" name="image" style="display: none;">
          <button type="submit" class="button primary save-button" {% if user.role == 'M' %}hidden{% endif %}>Sauvegarder</button>
        </form>

        <!-- Product Image -->
        <div class="product-image-container">
          <div class="product-image">
            <img id="addProductImage" src="placeholder.jpg" alt="Product Image">
          </div>
          <button class="button secondary" id="addUploadImageButton" {% if user.role == 'M' %}hidden{% endif %}>Importer une image</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Edit Product Modal -->
  <div class="modal-overlay" id="editModalOverlay">
    <div class="modal">
      <button class="close-button" id="closeEditModal">&times;</button>
      <h2>Editer un produit</h2>
      <div class="form-image-container">
        <!-- Form -->
        <form enctype="multipart/form-data" id="editProductForm" method="POST">
          {% csrf_token %}
          <div class="form-group">
            <label for="editProductName">Nom Prduit</label>
            <input type="text" id="editProductName" name="name" required>
          </div>
          <div class="form-group">
            <label for="editBrand">Marque</label>
            <select id="editBrand" name="brand" required>
              {% for brand in brands %}
              <option value="{{ brand.0 }}">{{ brand.1 }}</option>
              {% endfor %}
            </select>
          </div>
          <div class="form-group">
            <label for="editCategory">Categorie</label>
            <select id="editCategory" name="category" required>
              {% for category in categories %}
              <option value="{{ category.0 }}">{{ category.1 }}</option>
              {% endfor %}
            </select>
          </div>
          <div class="form-group">
            <label for="editSid">Numero de serie</label>
            <input type="text" id="editSid" name="sid" required>
          </div>
          <div class="form-group">
            <label for="editDescription">Description</label>
            <textarea id="editDescription" rows="4" name="description"></textarea>
          </div>
          <div class="form-group">
            <label for="editUnitPrice">Prix d'achat</label>
            <input type="number" id="editUnitBuyPrice" name="unit_buy_price" required>
          </div>
          <div class="form-group">
            <label for="editUnitPrice">Prix de vente</label>
            <input type="number" id="editUnitSellingPrice" name="unit_selling_price" required>
          </div>
          <div class="form-group">
            <label for="editMinStock">Stock minimal</label>
            <input type="number" id="editMinStock" name="min_stock" required>
          </div>
          <input type="file" id="editUploadImage" accept="image/*" name="image" style="display: none;">
          <button type="submit" class="button primary save-button" {% if user.role == 'M' %}hidden{% endif %}>Sauvegarder</button>
        </form>

        <!-- Product Image -->
        <div class="product-image-container">
          <div class="product-image">
            <img id="editProductImage" src="placeholder.jpg" alt="Product Image">
          </div>
          <button class="button secondary" id="editUploadImageButton" {% if user.role == 'M' %}hidden{% endif %}>Importer une image</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Delete Modal -->
  <div class="modal-overlay" id="deleteModalOverlay">
    <form class="modal" id="deleteProductForm" method="POST">
      {% csrf_token %}
      <button class="close-button" id="closeDeleteModal">&times;</button>
      <h2>Supprimer le produit</h2>
      <p>Voulez vous vraiment supprimer ce produit ?</p>
      <div class="modal-actions">
        <button type="submit" class="button danger" id="confirmDelete">Suprimer</button>
        <button type="button" class="button secondary" id="cancelDelete">Annuler</button>
      </div>
    </form>
  </div>
{% endblock %}

{% block script %}
<script src="{% static 'products/products.js' %}"></script>
{% endblock %}