{% extends '../base.html' %}
{% load static %}

{% block title %}Products - Stock Managemet{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'sidebar.css' %}">
<link rel="stylesheet" href="{% static 'products/productss.css' %}">
{% endblock %}

{% block sidebar %}
{% include '../utils/sidebar.html' with active='products' %}
{% endblock sidebar %}

{% block content %}
<div class="main-content">
    <div class="header">
      <h1>Products</h1>
      <button class="button primary" id="addProductButton" {% if user.role == 'W' %}hidden{% endif %}>Add Product</button>
    </div>

    <!-- Products Grid -->
    <div class="products-grid">

      {% for product in products %}
      <!-- Product Cards -->
      <div class="product-card" data-product='{"name":"{{ product.name }}","brand":"{{ product.brand }}","category":"{{product.category }}","quantity":{{ product.quantity }},"unitPrice":{{ product.unit_price }},"image":"{{ product.image.url }}","sid":"{{ product.sid }}","description":"{{ product.description }}", "min_stock": "{{product.min_stock}}" }'>
        <div class="product-image">
          <img src="{{ product.image.url }}" alt="Router">
        </div>
        <div class="product-info">
          <h3>{{ product.name }}</h3>
          <div class="tags">
            <span class="tag category">{{ product.get_category_display }}</span>
            <span class="tag brand">{{ product.get_brand_display }}</span>
          </div>
          <p class="unit-price">{{ product.unit_price }} XAF</p>
        </div>
        <div class="product-actions">
          <button class="button success edit-product" edit-url="{% url 'edit_product' product.id %}">{% if user.role == 'W' %}View{%else%}View and Edit{% endif %}</button>
          <button class="button danger delete-product" delete-url="{% url 'delete_product' product.id %}" {% if user.role == 'W' %}hidden{% endif %}>Delete</button>
        </div>
      </div>
      {% endfor %}

    </div>
  </div>

  <!-- Add Product Modal -->
  <div class="modal-overlay" id="addModalOverlay">
    <div class="modal">
      <button class="close-button" id="closeAddModal">&times;</button>
      <h2>Add Product</h2>
      <div class="form-image-container">
        <!-- Form -->
        <form enctype="multipart/form-data" id="addProductForm" method="POST" action="{% url 'add_product' %}">
          {% csrf_token %}
          <div class="form-group">
            <label for="addProductName">Product Name</label>
            <input type="text" id="addProductName" name="name" required>
          </div>
          <div class="form-group">
            <label for="addBrand">Brand</label>
            <select id="addBrand" name="brand" required>
              {% for brand in brands %}
              <option value="{{ brand.0 }}">{{ brand.1 }}</option>
              {% endfor %}
            </select>
          </div>
          <div class="form-group">
            <label for="addCategory">Category</label>
            <select id="addCategory" name="category" required>
              {% for category in categories %}
              <option value="{{ category.0 }}">{{ category.1 }}</option>
              {% endfor %}
            </select>
          </div>
          <div class="form-group">
            <label for="addSid">SID</label>
            <input type="text" id="addSid" name="sid" required>
          </div>
          <div class="form-group">
            <label for="addDescription">Description</label>
            <textarea id="addDescription" name="description" rows="4" required></textarea>
          </div>
          <div class="form-group">
            <label for="addUnitPrice">Unit Price</label>
            <input type="number" id="addUnitPrice" name="unit_price" required>
          </div>
          <div class="form-group">
            <label for="addMinStock">Min Stock</label>
            <input type="number" id="addMinStock" name="min_stock" required>
          </div>
          <input type="file" id="addUploadImage" accept="image/*" name="image" style="display: none;">
          <button type="submit" class="button primary save-button" {% if user.role == 'W' %}hidden{% endif %}>Save</button>
        </form>

        <!-- Product Image -->
        <div class="product-image-container">
          <div class="product-image">
            <img id="addProductImage" src="placeholder.jpg" alt="Product Image">
          </div>
          <button class="button secondary" id="addUploadImageButton" {% if user.role == 'W' %}hidden{% endif %}>Upload Image</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Edit Product Modal -->
  <div class="modal-overlay" id="editModalOverlay">
    <div class="modal">
      <button class="close-button" id="closeEditModal">&times;</button>
      <h2>Edit Product</h2>
      <div class="form-image-container">
        <!-- Form -->
        <form enctype="multipart/form-data" id="editProductForm" method="POST">
          {% csrf_token %}
          <div class="form-group">
            <label for="editProductName">Product Name</label>
            <input type="text" id="editProductName" name="name" required>
          </div>
          <div class="form-group">
            <label for="editBrand">Brand</label>
            <select id="editBrand" name="brand" required>
              {% for brand in brands %}
              <option value="{{ brand.0 }}">{{ brand.1 }}</option>
              {% endfor %}
            </select>
          </div>
          <div class="form-group">
            <label for="editCategory">Category</label>
            <select id="editCategory" name="category" required>
              {% for category in categories %}
              <option value="{{ category.0 }}">{{ category.1 }}</option>
              {% endfor %}
            </select>
          </div>
          <div class="form-group">
            <label for="editSid">SID</label>
            <input type="text" id="editSid" name="sid" required>
          </div>
          <div class="form-group">
            <label for="editDescription">Description</label>
            <textarea id="editDescription" rows="4" name="description" required></textarea>
          </div>
          <div class="form-group">
            <label for="editUnitPrice">Unit Price</label>
            <input type="number" id="editUnitPrice" name="unit_price" required>
          </div>
          <div class="form-group">
            <label for="editMinStock">Min Stock</label>
            <input type="number" id="editMinStock" name="min_stock" required>
          </div>
          <input type="file" id="editUploadImage" accept="image/*" name="image" style="display: none;">
          <button type="submit" class="button primary save-button" {% if user.role == 'W' %}hidden{% endif %}>Save</button>
        </form>

        <!-- Product Image -->
        <div class="product-image-container">
          <div class="product-image">
            <img id="editProductImage" src="placeholder.jpg" alt="Product Image">
          </div>
          <button class="button secondary" id="editUploadImageButton" {% if user.role == 'W' %}hidden{% endif %}>Upload Image</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Delete Modal -->
  <div class="modal-overlay" id="deleteModalOverlay">
    <form class="modal" id="deleteProductForm" method="POST">
      {% csrf_token %}
      <button class="close-button" id="closeDeleteModal">&times;</button>
      <h2>Delete Product</h2>
      <p>Are you sure you want to delete this product?</p>
      <div class="modal-actions">
        <button type="submit" class="button danger" id="confirmDelete">Delete</button>
        <button type="button" class="button secondary" id="cancelDelete">Cancel</button>
      </div>
    </form>
  </div>
{% endblock %}


{% block script %}
<script src="{% static 'products/products.js' %}"></script>
{% endblock %}