{% extends '../base.html' %}
{% load static %}

{% block title %}Ce connecter - Gestion de stock{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'useraccounts/login.css' %}">
{% endblock %}

{% block content %}
<div class="login-container">
    <div class="login-card">
      <div class="logo">
        <img src="logo.png" alt="Stock Management Logo">
      </div>
      <h2>Bienvenue</h2>
      <p>Connectez vous a votre compte</p>
      <form class="login-form" method="POST">
        {% csrf_token %}
        {% for field in form %}
        <div class="form-group">
          <label for="{{ field.id_for_label }}">{{ field.label }}</label>
          {{ field }}
        </div>
        {% endfor %}

        <button type="submit" class="login-button">Se connecter</button>
      </form>
      <!-- <div class="forgot-password">
        <a href="#">Forgot password?</a>
      </div> -->
      <div class="signup-link">
        ou alors <a href="{% url 'signup' %}">S'enregistrer</a>
      </div>
    </div>
  </div>

{% endblock %}
