{% extends '../base.html' %}
{% load static %}

{% block title %}Signup - Stock Management{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'useraccounts/signup.css' %}">
{% endblock %}

{% block content %}
<div class="signup-container">
    <div class="signup-card">
        <div class="logo">
            <img src="logo.png" alt="Stock Management Logo">
        </div>
        <h2>S'enregistrer</h2>
        <p>Creez un compte et attendez d'etre admis par un manageur</p>
        <form class="signup-form" method="POST">
            {% csrf_token %}
            {% for field in form %}
            <div class="form-group">
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {{ field }}
            </div>
            {% endfor %}

            <!-- Submit Button -->
            <button type="submit" class="button primary">S'enregistrer</button>
        </form>
        <div class="login-link">
            ou alors <a href="{% url 'login' %}">Connectez vous</a>
        </div>
    </div>
</div>
{% endblock %}