{% extends '../base.html' %}
{% load static %}

{% block title %}Signup - Stock Management{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'useraccounts/signup.css' %}">
{% endblock %}

{% block content %}
<div class="signup-container">
    <div class="signup-card">
        <div class="logo">
            <img src="logo.png" alt="Stock Management Logo">
        </div>
        <h2>Create an Account</h2>
        <p>Sign up to get started</p>
        <form class="signup-form" method="POST">
            {% csrf_token %}
            {% for field in form %}
            <div class="form-group">
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {{ field }}
            </div>
            {% endfor %}

            <!-- Submit Button -->
            <button type="submit" class="button primary">Sign Up</button>
        </form>
        <div class="login-link">
            Already have an account? <a href="{% url 'login' %}">Log in</a>
        </div>
    </div>
</div>
{% endblock %}