{% extends '../base.html' %}
{% load static %}

{% block title %}Tableau de bord - Gestion de stock{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'sidebar.css' %}">
<link rel="stylesheet" href="{% static 'dashboard/dashboard.css' %}">
{% endblock %}

{% block sidebar %}
{% include '../utils/sidebar.html' with active='dashboard' %}
{% endblock %}

{% block content %}
<div class="main-content">
	<div class="header">
		<h1>Tableau de bord</h1>
	</div>

	<input type="text" id="dataUrl" value="{% url 'dashboard_data' %}" hidden>

	<div class="metrics-grid">
		<!-- Key Metrics -->
		<div class="metric-card">
			<h3>Total des stocks</h3>
			<p>{{ total_stock_value }} FCFA</p>
		</div>
		<div class="metric-card">
			<h3>Ventes du jour</h3>
			<p>{{ total_day_sales }} FCFA</p>
		</div>
		<div class="metric-card">
			<h3>Alertes de stock faible</h3>
			<p>{{ low_stock_count }} alertes</p>
		</div>
		<div class="metric-card">
			<h3>Total Products</h3>
			<p>{{ total_products_count }} produits</p>
		</div>
	</div>
	<div class="charts-grid">
		<!-- Sales Trends -->
		<div class="chart-card">
			<div class="chart-header">
				<h3>Courbe des ventes</h3>
				<div class="toggle-buttons">
					<button id="yearly-trend" class="active">Annes</button>
					<button id="monthly-trend">Mois</button>
				</div>
			</div>
			<div class="chart-placeholder line-chart"></div>
		</div>
		<!-- Top Selling Products -->
		<div class="chart-card">
			<h3>Produit les plus vendue</h3>
			<div class="chart-placeholder bar-chart"></div>
		</div>
	</div>
	<div class="bottom-grid">
		<!-- Inventory Overview -->
		<div class="chart-card">
			<h3>Apercu de l'inventaire</h3>
			<div class="chart-placeholder pie-chart"></div>
		</div>
		<!-- Recent Activities -->
		<div class="chart-card">
			<h3>Activites recentes</h3>
			<div class="recent-activities">
				<ul>
					<li>2023-10-01: Added 50 Routers to Inventory</li>
					<li>2023-10-01: Recorded Sale of 5 Switches</li>
					<li>2023-10-01: Updated Stock for Router</li>
					<li>2023-09-30: Added 20 Cables to Inventory</li>
					<li>2023-09-30: Recorded Sale of 10 Adapters</li>
					<li>2023-09-29: Updated Stock for Switch</li>
					<li>2023-09-28: Added 15 Modems to Inventory</li>
					<li>2023-09-28: Recorded Sale of 8 Hubs</li>
					<li>2023-09-27: Updated Stock for Cable</li>
					<li>2023-09-27: Added 30 Patch Panels to Inventory</li>
				</ul>
			</div>
		</div>
	</div>
</div>

{% endblock %}

{% block script %}
<!-- Include ApexCharts -->
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<!-- Include your dashboard.js -->
<script src="{% static 'dashboard/dashboard.js' %}"></script>
{% endblock %}